<footer class="mt-4 py-4 border-top">
    <div class="container d-flex justify-content-between">
        <p class="text-muted">© 2021 afallendes</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/afallendes"><i class="bi-twitter"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="bi-linkedin"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="bi-github"></i></a></li>
        </ul>
    </div>
</footer>
