<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'frontend/modules/pre_load.html' %}

        <title>Bookmarks App - {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}

        {% include 'frontend/modules/nav.html' %}
        {% include 'frontend/modules/header.html' %}

        <div class="container">
            <div class="d-flex justify-content-between mb-3">
                <h3>{% block section_title %}{% endblock %}</h3>
                {% if enable_new_bookmark_button %}
                <a class="btn btn-primary" href="{% url 'frontend:bookmark-create' %}?next={{ request.get_full_path|urlencode }}" role="button">
                    <i class="bi bi-bookmark-plus"></i> New Bookmark
                </a>
                {% endif %}
            </div>
            {% block section_content %}{% endblock %}
        </div>
        
        {% include 'frontend/modules/footer.html' %}
        
        {% endblock %}
        
        {% include 'frontend/modules/post_load.html' %}

        {% block customJS %}{% endblock customJS %}
    </body>
</html>
