{% extends 'frontend/base.html' %}

{% block title %}Bookmarks{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h3>
        {% if search_param %}
        Search: {{ search_param }}
        {% elif tag_param %}
        Tag: {{ search_param }}
        {% else %}
        Bookmarks
        {% endif %}
        </h3>
        {% comment %} <h3>Search: {{ by_search }}</h3> {% endcomment %}
        <a class="btn btn-primary" href="{% url 'frontend:bookmark-create' %}" role="button"><i class="bi bi-bookmark-plus"></i> Bookmark</a>
    </div>
    
    <ul class="list-group">
        {% for bookmark in bookmarks %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-2 text-truncate">
                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                </h6>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a class="btn btn-outline-secondary" href="{{ bookmark.pk }}/update/" role="button"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-outline-secondary" href="{{ bookmark.pk }}/delete/?next={{ request.get_full_path|urlencode }}" role="button"><i class="bi bi-trash"></i></a>
                </div>
            </div>
            {% if bookmark.comments %}
            <p class="mb-1">{{ bookmark.comments }}</p>
            {% endif %}
            
            {% if bookmark.tags.all %}
            <small>
                {% for tag in bookmark.tags.all %}
                <a href="?tag={{ tag.slug }}" class="link-primary">{{ tag.text }}</a>
                {% endfor %}
            </small>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% include 'frontend/modules/pagination.html' %}
    
</div>
{% endblock %}
