{% extends 'frontend/base.html' %}

{% block title %}Bookmarks{% endblock %}

{% block section_title %}
    {% if request.GET.search %}
    Bookmarks by Search: {{ request.GET.search }}
    {% elif request.GET.tag %}
    Bookmarks by Tag: {{ request.GET.tag }}
    {% else %}
    List of Bookmarks
    {% endif %}
{% endblock %}  

{% block section_content %}
    <ul class="list-group">
        {% for bookmark in bookmarks %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-2 text-truncate">
                    {% if bookmark.favicon %}<img class="rounded" id="favicon" src="{{ bookmark.favicon }}"/>{% endif %}
                    <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
                </h6>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <a class="btn btn-outline-secondary border-end-0" href="{{ bookmark.pk }}/update/?next={{ request.get_full_path|urlencode }}" role="button"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-outline-danger" href="{{ bookmark.pk }}/delete/?next={{ request.get_full_path|urlencode }}" role="button"><i class="bi bi-trash"></i></a>
                </div>
            </div>
            {% if bookmark.comments %}
            <p class="mb-1">{{ bookmark.comments }}</p>
            {% endif %}
            
            {% if bookmark.tags.all %}
            <small>
                {% for tag in bookmark.tags.all %}
                <a href="?tag={{ tag.slug }}" class="link-secondary"><span class="badge bg-secondary">{{ tag.text }}</span></a>
                {% endfor %}
            </small>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% include 'frontend/modules/pagination.html' %}
{% endblock %}
